body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    display: flex; 
}

.button {
    background-color: #4B5CD7;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 23px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 24px 26px 13px 64px;
    width: 400px;
    margin:15px ;
}

.article-but {
    text-decoration: none;
    background-color: #1729B0 ;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #4B5CD7;
    padding: 38px 32px 48px 32px;
    display: flex
}

footer a {
    margin-right:8px ;
}

footer p {
    font-size: 24px;
}
